<% @event.each do |e|%>
   <h1> Event Name:  <%= e.event_name %>
   <h1> Event Place: <%= e.event_place %>
   <h1> Event Date: <%= e.event_date %>
   <h1> Event Creator: <%= e.user.email %>

   <div>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete%>
      <%= link_to 'Create New Event', new_event_path, method: :get %>
   </div>
<% end %>
