<h2>Name of the Event: <%= @event.event_name %></h2>
<h2>Place of the Event: <%= @event.event_place %></h2>
<h2>Date of the Event: <%= @event.event_date %></h2>
<h2>Email of the Event: <%= @event.user.email %></h2>

<%= link_to 'Back', root_path%>
